<ul>
  <li>
    <%= note.body %>
    (<%= User.find_by(id: note.user_id).email %>)
    <% if current_user == User.find_by(id: note.user_id) %>
      <%=  button_to "Delete Note", note_url(note), method: :delete %>
    <% end %>
  </li>
  <br>
</ul>
