<section class="page">
  <div class="centered-box">
    <h1>Sign up</h1>

    <form action="/users" method="POST">
      <%= auth_token %>

      <label for="user_email">Email:</label>
      <input type="email" id="user_email" name="user[email]" value="<%= @user.email %>">
      <br><br>

      <label for="user_password">Password:</label>
      <input type="password" id="user_password" name="user[password]" value="<%= @user.password %>">
      <br><br>

      <input type="submit" value="Submit">

    </form>
  </div>
</section>

