<h1><%= @album.title %></h1>

<form action="<%= album_url(@album) %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Remove Album">
</form>
<br>

<form action="<%= edit_album_url(@album) %>" method="GET">
  <input type="submit" value="Edit Album">
</form>

<p><%= link_to @band.name, band_url(@band) %></p>

